*{margin:0; padding:0; box-sizing: border-box;}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg) center;
    background-size: cover;
}

header{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 20%;
}

.icon a{
    text-decoration: none;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ff7200;
}

.icon a:hover{
    color:#fff
}

nav{
    width: 60%;
}

nav .menu{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav .menu li{
    font-size: 18px;
}

nav .menu li+li{
    margin-left: 65px;
}

nav .menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
}

nav .menu li a:hover {
    color: #ff7200;
}

.search{
    width: 20%;
}

.search-inp{
    width: 200px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    float: left;
    background: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn{
    height: 40px;
    width: 98px;
    border: 1px solid #ff7200;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    background: #ff7200;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-inp:focus, .btn:focus{
    outline: none;
}

::placeholder{
    color: #fff;
}

/* CONTENT */
.content {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    color: #fff;
    position: relative;
}

.content h1{
    margin-top: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
}

.content .paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 38px 0;
}

.cnt{
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff7200;
    border: none;
    padding: 14px 40px;
}

.cnt:hover{
    background-color: #f4f8fb;
}

.cnt a{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.form {
    width: 250px;
    height: 380px;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    bottom: -50px;
    right: 80px;
    padding: 25px;
    text-align: center;
}

.form h2{
    color: #ff7200;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 0;
    margin-bottom: 30px;
}

.form input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ff7200;
    color: #fff;
}

.form input:focus{
    outline: none;
}

.form .btn{
    width: 100%;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 26px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.form .btn:hover{
    background-color: #f4f8fb;
    border: none;
    color: #000;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 26px;
}

.sign-up{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.sign-up:hover{
    color: #ff7200;
}